@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@Html.AntiForgeryToken()
//todo:add bootstrap calender control and one text field
<div class="row" id="NewsTable">

</div>
<a class="btn btn-default btnPrevious">Previous</a><a class="btn btn-default btnNext">Next</a> 
@section Scripts
{
    <script>

        var newsfeedCountFrom = 0;
        $(document).ready(function () {
            //initialize
            GetData(newsfeedCountFrom);
            CheckNewsFeedCount();
        });

        $('.btnPrevious').click(function () {
            newsfeedCountFrom = parseInt(parseInt(newsfeedCountFrom) - 3);
            GetData(newsfeedCountFrom);
            CheckNewsFeedCount();
        });

        $('.btnNext').click(function () {
            newsfeedCountFrom = parseInt(parseInt(newsfeedCountFrom) + 3);
            GetData(newsfeedCountFrom);
            CheckNewsFeedCount();
        });

        function CheckNewsFeedCount()
        {
            if (newsfeedCountFrom == 0) {
                $('.btnPrevious').addClass('disabled');
            }
            else {
                $('.btnPrevious').removeClass('disabled');
            }
        }

        function EnableNextButton() {
            $('.btnNext').removeClass('disabled');
        }

        function DisableNextButton()
        {
            $('.btnNext').addClass('disabled');
        }

        function getAntiForgeryToken() {
            return $("input[name='__RequestVerificationToken']").val();
        }

        function GetData(newsfeedCountFrom)
        {
            //todo:add calender control to select date
            //get current date
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();

            var output = d.getFullYear() + '/' +
                (month < 10 ? '0' : '') + month + '/' +
                (day < 10 ? '0' : '') + day;

            var token = getAntiForgeryToken();
    
            $.ajax({
                url: "http://localhost:49312/api/Newsfeed?datetimeStr=" + output.toString() + "&searchStr=" + '' + "&newsfeedCountFrom=" + newsfeedCountFrom,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                //headers: {
                //    '__RequestVerificationToken': token,
                //},
                success: function (data) {
                    //add data to div if data available
                    if (data.length > 0)
                    {
                        //if data is available then enable next button
                        EnableNextButton();
                        //empty the previous data 
                        $("#NewsTable").empty();

                        //add data to div
                        for (var i = 0; i < data.length; i++) {
                            //get latest NewsfeedCountFrom
                            newsfeedCountFrom = data[i].NewsfeedCountFrom;
                            //print data
                            $("<div class='col-md-12 well' >"
                                + "<div class='media'>"
                                + "<a class='pull-left' href='#'>"
                                + "<img class='media-object' src='" + data[i].ImagePath + "'>"
                                + "</a>"
                                + "<div class='media-body'>"
                                + "<h4 class='media-heading'>" + data[i].Title + "</h4>"
                                + "<p class='text-right'>By " + data[i].PublisherDisplayName + "</p>"
                                + "<p>" + data[i].Content + "</p>"
                                + "<ul class='list-inline list-unstyled'>"
                                + "<li><span><i class='glyphicon glyphicon-calendar'></i> " + data[i].DateTime + "</span></li>"
                                + "<li>"
                                + "<span><i class='fa fa-facebook-square'></i> </span>"
                                + "<span><i class='fa fa-twitter-square'></i> </span>"
                                + "<span><i class='fa fa-google-plus-square'></i> </span>"
                                + "</li>"
                                + "</ul>"
                                + "</div>"
                                + "</div>"
                                + "</div>").appendTo("#NewsTable");
                        }
                        //check previous button enable/disable
                        CheckNewsFeedCount();
                    }
                    else {
                        //if no data available then disable the next button
                        DisableNextButton();
                    }
                },
                error: function (msg) { alert(msg); }
            });
        }
    </script>
}


